.help {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  width: 100%;
  background: #ddd;
}

.visorHelp {
  background: black;
}

.helpPorcentaje {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgb(235, 235, 235);
  box-shadow: 3px 3px 2px black;
  border-radius: 10px;
  height: 45px;
  width: 330px;
  margin-left: 11.3%;
  padding: 10px;
}

.helpPorcentaje h1 {
  font-size: 1.6em;
}

.helpVisto {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgb(235, 235, 235);
  box-shadow: 3px 3px 2px black;
  border-radius: 10px;
  right: 0;
  margin-right: 17.8%;
  height: 45px;
  padding: 10px;
}

.helpVisto h1 {
  font-size: 1.6em;
}

.helpInput {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgb(235, 235, 235);
  box-shadow: 3px 3px 2px black;
  border-radius: 10px;
  right: 0;
  margin-right: 20%;
  top: 420px;
  height: 42px;
  padding: 10px;
}

.helpInput h1 {
  font-size: 1.5em;
}

.helpVisor {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgb(235, 235, 235);
  box-shadow: 3px 3px 2px black;
  border-radius: 10px;
  right: 0;
  margin-right: 17.8%;
  top: 474px;
  height: 42px;
  padding: 10px;
}

.helpVisor h1 {
  font-size: 1.5em;
}

.helpLista {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: rgb(235, 235, 235);
  box-shadow: 3px 3px 2px black;
  border-radius: 10px;
  top: 200px;
  left: 120px;
  height: 42px;
  padding: 10px;
}

.helpLista h1 {
  font-size: 1.5em;
}

@media (max-width: 1920px) {
  .helpPorcentaje {
    margin-left: 16%;
  }

  .helpVisto {
    margin-right: 21%;
  }

  .helpInput {
    top: 480px;
    margin-right: 23.8%;
  }

  .helpVisor {
    top: 533px;
    margin-right: 22%;
  }
}

@media (max-width: 1800px) {
  .helpPorcentaje {
    margin-left: 3%;
  }

  .helpVisto {
    margin-right: 11%;
  }

  .helpInput {
    margin-right: 14%;
  }

  .helpVisor {
    margin-right: 11%;
  }

  .helpDesde {
    margin-right: 20%;
  }

  .helpDif {
    margin-right: 18.15%;
  }
}

@media (max-width: 1680px) {
  .helpPorcentaje {
    margin-left: 10.5%;
  }

  .helpVisto {
    margin-right: 17%;
  }

  .helpInput {
    margin-right: 17.5%;
  }

  .helpVisor {
    margin-right: 15.3%;
  }

  .helpDesde {
    margin-right: 23%;
  }

  .helpDif {
    margin-right: 21%;
  }
}

@media (max-width: 1480px) {
  .helpPorcentaje {
    margin-left: 3%;
  }

  .helpVisto {
    margin-right: 11%;
  }

  .helpInput {
    margin-right: 14%;
  }

  .helpVisor {
    margin-right: 11%;
  }

  .helpDesde {
    margin-right: 21%;
  }

  .helpDif {
    margin-right: 18.15%;
  }
}

@media (max-width: 1230px) {
  .help {
    display: none;
  }
}

@media (max-height: 801px) {
  .helpInput {
    right: 0;
    top: 320px;
  }

  .helpVisor {
    top: 370px;
  }
}
