* {
  margin: 0px;
  padding: 0px;
  font-family: Consolas;
  letter-spacing: 1px;
  font-weight: 500;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background-image: url("https://i.pinimg.com/originals/da/a3/24/daa3245ca585582f2f0baf7d180c6d93.jpg");
  object-fit: cover;
}

.visor-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.porcentaje{
  padding: 6px;
  font-size: 2.5em;
  background: rgb(240, 240, 240);
  border-radius: 5px;
}

.visto{
  padding: 6px;
  font-size: 2.5em;
  background: rgb(240, 240, 240);
  border-radius: 5px;
}

.img-visto {
  height: 30px;
  width: 30px;
  margin-right: 3px;
}

#titulo {
  font-size: 2.5em;
  margin: 100px;
  margin-top: calc(100px - 47px);
  color: rgb(0, 0, 0);
  background: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 500px;
  background: #ddd;
  border-radius: 10px;
  border: 1px solid black;
  background: linear-gradient(rgb(171, 217, 255),rgb(140, 203, 255))
}

.container h1 {
  font-size: 2.35em;
  margin: 20px;
}

.container h2 {
  height: 20px;
}

.input {
  height: 33px;
  width: 215.6px;
  margin: 20px;
  border: 1px solid black;
  padding: 4px;
  font-size: 16.5px;
  outline: none;
  color: rgb(0, 0, 0);
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 215.6px;
  border: 1px solid black;
  background: rgb(240, 240, 240);
  font-size: 18px;
}

.show:hover{
  cursor: pointer;
}

.show:active{
  background: rgb(235, 235, 235);
}

.incorrecto-container{
  padding-top: 8px ;
}

.incorrecto {
  
  margin: 20px;
}

.img {
  height: 26px;
  width: 26px;
}



@media (max-width: 768px) {

  .body{
    height: 100%;
    width: 100%;
  }

  .container {
    width: 90vw;
  }

  .container h1{
    font-size: 2.2em;
  }

  #titulo {
    width: 90vw;
    font-size: 1.8em;
    margin: 50px;
  }

  .incorrecto {
    margin: 20px;
    font-size: 22px;
  }

}