* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.1px;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background-image: url("https://i.pinimg.com/originals/da/a3/24/daa3245ca585582f2f0baf7d180c6d93.jpg");
  object-fit: cover;
}

.visor-container{
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.porcentaje-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.p{
  font-size: 22px;
}

.visto-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  background: rgb(240, 240, 240);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 3px 3px 5px black;
  padding-left: 5px;
}

.porcentaje{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 2em;
  width: 80px;
  background: rgb(240, 240, 240);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 3px 3px 5px black;
  text-align: center;
  transition: all 0.5s ease-out;
}

.visto{
  padding: 3px;
  font-size: 2em;
  text-align: center;
}

#titulo {
  font-size: 2.2em;
  margin: 100px;
  margin-top: calc(100px - 17.4px);
  color: rgb(0, 0, 0);
  background: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 5px black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 500px;
  background: #ddd;
  border-radius: 10px;
  border: 1px solid black;
  background: url("./universe.jpg");
  box-shadow: 5px 5px 8px black,-5px -5px 8px black;
}

.container h1 {
  font-size: 2.55em;
  margin: 20px;
  color: white;
  text-shadow: 1.6px 1.6px 6px black, -1.6px -1.6px 6px black, 1.6px 1.6px 6px black, -1.6px -1.6px 6px black;
}

.container h2 {
  height: 20px;
}

.input {
  height: 33px;
  width: 215.6px;
  margin: 20px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16.5px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 215.6px;
  border: 1px solid black;
  background: rgb(240, 240, 240);
  font-size: 18px;
  border-radius: 10px;
}

.show:hover{
  cursor: pointer;
}

.show:active{
  background: rgb(235, 235, 235);
}

.incorrecto-container{
  padding-top: 8px ;
}

.incorrecto {
  color: white;
  margin: 20px;
}

.img {
  height: 26px;
  width: 26px;
}

.dificulty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 83px;
  padding: 10px;
  background: rgb(240, 240, 240);
  box-shadow: 3px 3px 5px black;
  border-radius: 10px;
}

.dificulty h3{
  margin-right: 15px;
  font-size: 1.6em;
}

.dificulty select{
  height: 32px;
  font-size: 15px;
  padding: 1px;
}



@media (max-width: 768px) {

  .container {
    width: 90vw;
    height: 290px;
    margin-top: 20px;
    box-shadow: none;
  }

  .container h1{
    font-size: 2.45em;
  }

  .visor-container{
    width: 72%;
  }

  .porcentaje{
    font-size: 2em;
  }

  .p{
    font-size: 22px;
  }

  .visto{
    font-size: 2em;
  }

  #titulo {
    display:none;
  }

  .incorrecto {
    margin: 20px;
    font-size: 22px;
  }

  .dificulty h3{
    margin-right: 12px;
    font-size: 1.5em;
  }

  .dificulty select{
    height: 30px;
    font-size: 15px;
  }

}